* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #575eca;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #2a3d66;
    color: hwb(255 16% 25%);
    padding: 10px 0;
}

header h1 {
    font-size: 24px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: hsl(203, 89%, 35%);
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px 0;
}

.info, .shop, .order {
    background-color: hsl(243, 32%, 55%);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.product-card {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 10px 1%;
    background-color: #aab6ee;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

button {
    background-color: #2a3d66;
    color: rgb(193, 190, 228);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1e2b44;
}

footer {
    background-color: #2a3d66;
    color: #1522d6;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

#cart {
    margin-top: 20px;
}

#cart p {
    font-size: 18px;
}
